data/raw/ODIR-5K/**
data/raw/**/Training_Images/**
data/raw/**/Testing_Images/**

!data/raw/**/*.csv
!data/raw/**/*.xlsx

models/**
*.pth
*.pt
*.ckpt

__pycache__/
*.pyc
*.pyo
*.pyd

.ipynb_checkpoints/

.DS_Store
Thumbs.db
.vscode/
.idea/

*.log
secret/
data/